<h3>CmpTestComponent</h3>

<!--TEST COMPONENT 1-->

<p>
    The following string should change
    @Test_string
</p>
<br />

<button class="btn btn-outline-secondary btn-sm py-0" @onclick="(() => On_Test_String_Changed(Test_string))">
    Click me to change string upon deployed
</button>