@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<!--TEST-->
<p>
IF YOU SEE THIS, THEN YOU KNOW IT'S WORKING!
IT'S A SHAME THAT I HAVE TO REPLOY WHEN CHANGES ARE MADE 
AND THE LOADING DOES TAKE A WHILE (4 seconds?)....
<br />
WILL THIS APP WORK WHEN A USER IS REDIRECTED TO THIS FROM X SITE OR WOULD IT
AUTOMATICALLY LAND ON INDEX?
<br />
I NEED TO KNOW SO I CAN GRAB FROM URL!
</p>

<SurveyPrompt Title="How is Blazor working for you?" />
